<!DOCTYPE html>
<html>

    <head>
      <title>Share Places</title>
     <%= stylesheet_link_tag    "application", :media => "all" %>
     <%= javascript_include_tag "application" %>
     <%= csrf_meta_tags %>
    </head>

    <body>
        
    <header>
      <header class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
        <a class="brand" href="/"> <img src="/assets/logo_transparent.png"></a>  
            <nav>
                <ul class="nav pull-left">
                    <li class="<%= 'active' if current_page?(about_path) %>"><%= link_to "About", about_path %></li>
                    <li class="<%= 'active' if current_page?(contact_path) %>"><%= link_to "Contact", contact_path %></li>
                </ul>
                
                <ul class="nav pull-right">
                 <li><%= link_to "Register", new_user_registration_path %></li>
                 <% if user_signed_in? %>
                 <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
                 <% else %>
                 <li><%= link_to "Sign In", new_user_session_path, :method => :get %></li>
                 <% end %>
                </ul>
            </nav>
          </div>
      </div>
    </header>

<!-- header stop -->

  <div class="container">
      <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>
      <%= yield %>
  </div>

<!-- main stop -->

  <hr />
  
    <div class="row">
      <div class="span4">
          <a id="footerp" href="/about/">About</a>
          <a id="footerp" href="/contact/">Contact</a>
          <a id="footerp" href="/imprint/">Imprint</a>
      </div>
      <div class="span4 pagination-centered">
          <a id="copyright">&copy; Marvin Jobs 2013</a>
      </div>
      <div class="span4" style="margin-top: -15px;">
          <a href="http://www.linkedin.com/in/marvinjobs/en" target="_blank"> <img id="socialicons" src="/assets/linkedin.png"></a>
          <a href="https://www.facebook.com/marvin.jobs" target="_blank"> <img id="socialicons" src="/assets/facebook.png"></a>
      </div>
    </div>
  </footer>

<!-- footer stop -->

    </body>
</html>